<div class="character-card">
    <div class="image"><img src="<%= character.image %>" alt=""></div>
    <div class="details"><a href="/characters/<%= character._id %>"><%= character.name %></a></div>
</div>